<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GoogleBigQueryContext" connectionString="Offline=False;DataSetId=MyDataSetId;ProjectId=MyProjectId;InitiateOAuth=GETANDREFRESH" providerName="System.Data.CData.GoogleBigQuery" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.CData.GoogleBigQuery" type="System.Data.CData.GoogleBigQuery.GoogleBigQueryProviderServices, System.Data.CData.GoogleBigQuery.Entities.EF6" />
    </providers>
    </entityFramework>
</configuration>